asgiref
certifi
cfgv
charset-normalizer
coreapi
coreschema
distlib
Django
django-rest-swagger
djangorestframework
djangorestframework-simplejwt
drf-yasg
filelock
gunicorn
identify
idna
inflection
itypes
MarkupSafe
nodeenv
openapi-codec
packaging
pillow
pre-commit
psycopg2-binary
PyJWT
python-decouple
pytz
PyYAML
requests
setuptools
simplejson
sqlparse
uritemplate
urllib3
uuid
virtualenv
django-mssql-backend
pyodbc
mssql-django
azure-storage-blob
django-pyodbc-azure